body {
    overflow: scroll;
    background-color: whitesmoke;
}

.campo-digitacao{
    font-size: 20px;
    height: 130px;
    border: 3px black solid;
}

.icons{
    vertical-align: middle;
}

main>h1{
    font-size: 75px;
}

main>p{
    font-size: 30px;
}

.digitacao__certo{
    color: green;
}

.digitacao__errada{
    color: red;
}

.campo-digitacao__certo{
    border: 3px green solid;
}

.campo-digitacao__errado{
    border: 3px red solid;
}

.placar{
    display: none;
    padding: 5%;
}

#carregar{
    display: none;
}

#sicronizarPlacar{
    float: right;
}